/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

input:-webkit-autofill {
    /*-webkit-box-shadow: 0 0 0px 1000px #313334 inset;*/
}

.settings-pane .link-blocks-env {
    text-align: right;
}
.text-upper {
    text-transform: none;
}
footer.main-footer {
	padding: 10px 30px;
}
.dropdown {
	position: absolute;
	right: 0px;
	top: 0px;
}
.invite-page {
    background: #2c2e2f;
    color: #fff;
    padding-top: 10%;
}
.login-page {
    background: #2c2e2f;
    color: #fff;
    padding-top: 5%;
}
.invite-container {
    max-width: 960px;
    margin: 0 auto;
}
.center {
    text-align:center;
}
a {
    color: #CBCCCC;
}
a:hover {
  color: #bdbebe;
}
.bootstrap-timepicker-widget.dropdown-menu.open{
    z-index: 9999;
}
:not([class*="icon"]):not(i):not([class*="fxfont"]){font-family: "Microsoft YaHei" !important}
