<div class="empty-layout" data-options="dxLayout : { name: 'empty' } " >
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content', transition: 'slide' }">
        <div class="dx-loadindicator-container">
            <div data-options="dxLoadIndicator: { visible: true }"></div>
        </div>
    </div>
</div>

<div class="empty-layout" data-options="dxLayout : { name: 'empty', platform: 'win8', phone: false } " >
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content', contentCssPosition: 'static' }">
        <div class="dx-loadindicator-container">
            <div data-options="dxLoadIndicator: { visible: true }"></div>
        </div>
    </div>
</div>