<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <base href="{BASE_URL}">
  <title>{SITE_NAME} - <i18n key="Auth.Register.Title"/></title>

  <link rel="stylesheet" type="text/css" href="/Resource/Panel/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="/Resource/Panel/css/flat-admin.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="/Resource/Panel/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="/Resource/Panel/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="/Resource/Panel/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="/Resource/Panel/css/theme/yellow.css">
  <script type="text/javascript" src="/Resource/js/jquery.min.js"></script>
  <script type="text/javascript" src="/Resource/js/vue.js"></script>

</head>
<body>
  <div class="app app-default">
    <div class="app-container app-login" id="app" v-bind:class="{  __loading: doRegister }">
      <div class="flex-center">
        <div class="app-header"></div>
        <div class="app-body">
          <div class="loader-container text-center">
              <div class="icon">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                  </div>
                </div>
              <div class="title"> {{ message }}</div>
          </div>
          <div class="app-block">
            <div class="app-right-section">
              <div class="app-brand"><span class="highlight">{SITE_NAME}</span> <i18n key="Auth.Register.AppBrand"/></div>
              <div class="app-info">

                <ul class="list">
                  <li>
                    <div class="icon">
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </div>
                    <div class="title"><i18n key="Auth.Register.TitlePaperPlane"/></div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-cubes" aria-hidden="true"></i>
                    </div>
                    <div class="title"><i18n key="Auth.Register.TitleCubes"/></div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                    <div class="title"><i18n key="Auth.Register.TitleUsd"/></div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="app-form">
              <div class="form-suggestion"><i18n key="Auth.Register.Suggestion" /></div>
              <form action="#" method="POST">
                  <div class="input-group has-error">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="<i18n key="Auth.Register.Nickname"/>" aria-describedby="basic-addon1" v-model="nickname">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">
                      <i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="<i18n key="Auth.Register.Email"/>" aria-describedby="basic-addon2" v-model="email">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">
                      <i class="fa fa-key" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="<i18n key="Auth.Register.Password"/>" aria-describedby="basic-addon3" v-model="password">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon4">
                      <i class="fa fa-check" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="<i18n key="Auth.Register.ConfirmPassword"/>" aria-describedby="basic-addon4" v-model="confirmPassword">
                  </div>
                  <div class="input-group">
                      <span class="input-group-addon" id="basic-addon5">
                        <i class="fa fa-heart" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="<i18n key="Auth.Register.InviteCode"/>" aria-describedby="basic-addon5" v-model="inviteCode">
                  </div>
                  <div class="text-center">
                      <input type="button" class="btn btn-success btn-submit" value="<i18n key="Auth.Register.Button.Register"/>" v-on:click="register">
                  </div>
              </form>
              <div class="form-line">
                <div class="title">OR</div>
              </div>
              <div class="form-footer">
                <button type="button" class="btn btn-primary" v-on:click="login">
                  <div class="info">
                    <i class="icon fa fa-sign-in" aria-hidden="true"></i>
                    <span class="title"><i18n key="Auth.Register.Button.Login"/></span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="app-footer">
        </div>
      </div>
    </div>
  </div>
<script>
var register = new Vue({
    el: '#app',
    data: {
        nickname: "",
        email: "",
        password: "",
        confirmPassword: "",
        inviteCode: "",
        message: "<i18n key="Auth.Register.Message"/>",
        doRegister: false
    },
    methods: {
        login: function () {
            window.location.href = "/auth/login";
        },
        register: function () {
            var that = this;
            $.ajax({
                url: "/auth/doRegister.json",
                type: "post",
                data: {nickname: that.nickname, email: that.email, password: that.confirmPassword, inviteCode: that.inviteCode},
                dataType: "json",
                beforeSend: function () {
                    that.doRegister = true;
                },
                complete: function () {

                },
                success: function (result) {
                    that.message = result.data.message;
                    if (!result.data.hasError) {
                        setTimeout(function(){
                            window.location.href = "/auth/login";
                        }, 1000);
                    } else {
                        that.doRegister = false;
                    }
                },
                error: function () {

                }
            });
        }
    }
});
</script>
</body>
</html>