<if condition="$controller != 'Login' && $controller != 'lockscreen'">
<footer class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            <strong>Copyright © 2014-2015 <a href="#">Suki.im</a> </strong>
            All rights reserved.  Powered by  <b>ss-panel</b>2.5.7 Themes by <a href="https://loacg.com/">Sendya</a> | <a href="https://shenghuo.alipay.com/send/payment/fill.htm?optEmail=18x@loacg.com" target="_blank">向我捐赠</a> | <a href="/my/tos">服务条款</a>
        </div>
        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">
            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>
        </div>

    </div>
</footer>
</if>
<script src="{TPL_PATH}js/bootstrap.min.js"></script>
<script src="{TPL_PATH}js/TweenMax.min.js"></script>
<script src="{TPL_PATH}js/resizeable.js"></script>
<script src="{TPL_PATH}js/joinable.js"></script>
<script src="{TPL_PATH}js/xenon-api.js"></script>
<script src="{TPL_PATH}js/xenon-toggles.js"></script>
<script src="{TPL_PATH}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{TPL_PATH}js/toastr/toastr.min.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="{TPL_PATH}js/xenon-custom.js"></script>
</body>
</html>