<if condition="$controllerName != 'Login' && $controllerName != 'Lockscreen' && $controllerName != 'Invite' && $controllerName != 'Tos' && $controllerName != 'ForgePwd'">
<footer class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            <strong>Copyright © 2014-2015 <a href="{BASE_URL}">{SITE_NAME}</a> </strong>
            All rights reserved.  Powered by  <b>ss-panel</b>2.5.7 | <a href="/my/tos">服务条款</a> | That took {(\Core\Router::execTime())} seconds.
        </div>
        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">
            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>
        </div>

    </div>
</footer>
</if>
</div>
<script type="text/javascript">
    function pageJSload() {
        xenon_toggles_init();
        xenon_init();
    }
</script>
</div>

<script src="{TPL_PATH}js/bootstrap.min.js"></script>
<script src="{TPL_PATH}js/TweenMax.min.js"></script>
<script src="{TPL_PATH}js/resizeable.js"></script>
<script src="{TPL_PATH}js/joinable.js"></script>
<script src="{TPL_PATH}js/xenon-api.js"></script>
<script src="{TPL_PATH}js/xenon-toggles.js"></script>
<script src="{TPL_PATH}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{TPL_PATH}js/jquery.md5.js"></script>
<script src="{TPL_PATH}js/toastr/toastr.min.js"></script>
<script src="{TPL_PATH}js/xenon-widgets.js"></script>
<script src="{TPL_PATH}js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="{TPL_PATH}js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="{TPL_PATH}js/xenon-custom.js"></script>
<script src="{TPL_PATH}js/pjax.js"></script>
</body>
</html>