<script src="{TPL_PATH}js/bootstrap.min.js"></script>
<script src="{TPL_PATH}js/TweenMax.min.js"></script>
<script src="{TPL_PATH}js/resizeable.js"></script>
<script src="{TPL_PATH}js/joinable.js"></script>
<script src="{TPL_PATH}js/xenon-api.js"></script>
<script src="{TPL_PATH}js/xenon-toggles.js"></script>
<script src="{TPL_PATH}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{TPL_PATH}js/toastr/toastr.min.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="{TPL_PATH}js/xenon-custom.js"></script>
</body>
</html>