<!DOCTYPE html>
<php>
    $requestPath = \Core\Request::getRequestPath();
    $controllerName = ucfirst(substr($requestPath, strrpos($requestPath, "/")+1));
</php>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{description}" />
    <meta name="author" content="{TPL_Author}" />
    <base href="{BASE_URL}"/>
    <title>{$controllerName} - {SITE_NAME}</title>

    <link rel="stylesheet" href="//fonts.lug.ustc.edu.cn/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="Resource/{THEME}/css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/bootstrap.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/xenon-core.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/xenon-forms.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/xenon-components.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/xenon-skins.css">
    <link rel="stylesheet" href="Resource/{THEME}/css/custom.css">

    <script src="Resource/{THEME}/js/jquery-1.11.1.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="Resource/{THEME}/js/html5shiv.min.js"></script>
    <script src="Resource/{THEME}/js/respond.min.js"></script>
    <![endif]-->
</head>
