<import template="/panel/_head" />

<body class="page-body login-page">
	<div class="login-container">
		<div class="row">
			<div class="col-sm-6">
<script type="text/javascript">
jQuery(document).ready(function($) {
	setTimeout(function() {
		$(".fade-in-effect").addClass("in");
	}, 1);
	$("form#login").validate({
		rules: {
			email: {
				required: true
			},
			passwd: {
				required: true
			}
		},
		messages: {
			email: {
				required: "请输入用户名."
			},
			passwd: {
				required: "请输入密码."
			}
		},
		submitHandler: function(form) {
			show_loading_bar(70);
			var opts = {
				closeButton: true,
				debug: false,
				positionClass: "toast-top-full-width",
				onclick: null,
				showDuration: "300",
				hideDuration: "1000",
				timeOut: "5000",
				extendedTimeOut: "1000",
				showEasing: "swing",
				hideEasing: "linear",
				showMethod: "fadeIn",
				hideMethod: "fadeOut"
			};
			$.ajax({
				url: "/user/login",
				method: "POST",
				dataType: "json",
				data: {
					do_login: true,
					email: $(form).find("#email").val(),
					passwd: $(form).find("#passwd").val(),
					remember_me: document.getElementById('remember_me').checked==true ? 'week' : ''
				},
				success: function(resp) {
					show_loading_bar({
						delay: .5,
						pct: 100,
						finish: function() {
							if (resp.error == "0") {
								window.location.href = "/member";
							} else if (resp.message != "") {
								toastr.error(resp.message, "提示!", opts);
								$('#email').select();
							} else {
								toastr.error("请求服务器失败，请稍后重试", "无效登陆!", opts);
								$('#email').select();
							}
						}
					});
				}
			});
		}
	});
	$("form#register").validate({
		rules: {
			r_email: {
				required: true
			},
			r_passwd: {
				required: true
			},
			r_passwd2: {
				required: true
			},
			r_user_name: {
				required: true
			},
			r_invite: {
				required: true
			}
		},
		messages: {
			r_email: {
				required: "请输入用户名."
			},
			r_passwd: {
				required: "请输入密码."
			},
			r_passwd2: {
				required: "请再次输入密码"
			},
			r_user_name: {
				required: "请输入昵称"
			},
			r_invite: {
				required: "没邀请码注册个球啊?"
			}
		},
		submitHandler: function(form) {
			show_loading_bar(70);
			var opts = {
				closeButton: true,
				debug: false,
				positionClass: "toast-top-full-width",
				onclick: null,
				showDuration: "300",
				hideDuration: "1000",
				timeOut: "5000",
				extendedTimeOut: "1000",
				showEasing: "swing",
				hideEasing: "linear",
				showMethod: "fadeIn",
				hideMethod: "fadeOut"
			};
			if ($("#r_passwd").val() == "" || $("#r_passwd").val() != $("#r_passwd2").val()) {
				toastr.error("两次密码不一致", "错误!", opts);
				return;
			}
			$.ajax({
				url: "/user/register",
				method: "POST",
				dataType: "json",
				data: {
					do_register: true,
					r_email: $(form).find("#r_email").val(),
					r_passwd: $(form).find("#r_passwd").val(),
					r_passwd2: $(form).find("#r_passwd2").val(),
					r_user_name: $(form).find("#r_user_name").val(),
					r_invite: $(form).find("#r_invite").val()
				},
				success: function(resp) {
					show_loading_bar({
						delay: .5,
						pct: 100,
						finish: function() {
							if (resp.error == '0') {
								toastr.success(resp.message, "提示!", opts);
								$(".login-button").click();
							} else if (resp.error == '1') {
								toastr.error(resp.message, "提示!", opts);
								$('#email').select();
							} else {
								toastr.error("请求服务器失败，请稍后重试", "无效登陆!", opts);
								$('#email').select();
							}
						}
					});
				}
			});
		}
	});
	$("form#login .form-group:has(.form-control):first .form-control").focus();
});
</script>
				<!-- Errors container -->
				<div class="errors-container">
				</div>
				<!-- Add class "fade-in-effect" for login form effect -->
				<form method="post" role="form" id="login" class="login-form fade-in-effect" autocomplete="off">

					<div class="login-header">
						<a href="/" class="logo">
							<img src="{TPL_PATH}images/logo@2x.png" alt="" width="80" />
							<span>log in</span>
						</a>
						<p>登陆，然后变成一只猫!</p>
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-dark" name="email" id="email" autocomplete="off" placeholder="电子邮件" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" placeholder="密码" />
					</div>
                    <div class="form-group">
                        <label>
    						<input type="checkbox" class="cbr" id="remember_me" value="week" checked>
    						保持登陆(7天内免登录)
    					</label>
                    </div>
					<div class="form-group">
						<button type="submit" class="btn btn-dark  btn-block text-left">
							<i class="fa-lock"></i>
							登 陆
						</button>
					</div>
					<div class="login-footer">
					    <a href="/invite">获取获取邀请码</a>&nbsp;
						<a href="/forgePwd">找回密码?</a>
						<div class="info-links">
							<a href="/tos">Tos</a>
						</div>
					</div>
				</form>
				<form method="post" role="form" id="register" class="login-form fade-in-effect" autocomplete="off" style="display: none;">
					<div class="login-header">
						<a href="/" class="logo">
							<img src="{TPL_PATH}images/logo@2x.png" alt="" width="80" />
							<span>Register</span>
						</a>
						<p>注册，然后变成一只猫!</p>
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-dark" name="r_email" id="r_email" autocomplete="off" placeholder="电子邮件" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-dark" name="r_user_name" id="r_user_name" autocomplete="off" placeholder="昵称" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-dark" name="r_passwd" id="r_passwd" autocomplete="off" placeholder="密码" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-dark" name="r_passwd2" id="r_passwd2" autocomplete="off" placeholder="重复密码" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-dark" name="r_invite" id="r_invite" autocomplete="off" placeholder="邀请码" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-dark  btn-block text-left">
							<i class="fa-user"></i>
							注 册
						</button>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-dark  btn-block text-left login-button" onclick="location.href = 'user/login#login'">
							<i class="fa-lock"></i>
							返 回 登 陆
						</button>
					</div>
				</form>
				<div class="external-login">
					<a href="user/login#regiser"  class="facebook register-button">
						<i class="fa-user"></i>
						注册账号
					</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		jQuery(document).ready(function($) {

			$(".register-button").click(function(){
				$("#login").hide(); $(".external-login").hide(); $("#register").show();
			});
			$(".login-button").click(function(){
				$("#login").show(); $(".external-login").show(); $("#register").hide();
			});

			var localhash = location.hash;
			console.log(location.href.substring(0, location.href.lastIndexOf('#')));
			if (localhash == '#register') {
				console.log("in register");
				$(".register-button").click();

			} else {
				console.log("in login");
				$(".login-button").click();
			}
		});
	</script>
	<import template="/panel/_footer" />
