<import template="/panel/_head" />
<body class="page-body">
<div class="modal fade" id="modal-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>
<div class="settings-pane">
    <a href="javascript:;" data-toggle="settings-pane" data-animate="true">&times;</a>
    <div class="settings-pane-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="user-info">
                    <div class="user-image">
                        <a href="/member">
                            <img src="{(\Helper\Utils::gravatar($user->email))}" class="img-responsive img-circle" />
                        </a>
                    </div>
                    <div class="user-details">
                        <h3>
                            <a href="/member">{$user->nickname}</a>
                            <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                            <span class="user-status is-online"></span>
                        </h3>
                        <p class="user-title">加入时间：{(date('Y-m-d H:i:s', $user->regDateLine))}</p>
                        <div class="user-links">
                            <a href="/member/info" class="btn btn-primary">个人资料</a>
                            <a href="/auth/logout" class="btn btn-success">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 link-blocks-env">
                <div class="links-block left-sep">
                    <h4>
                        <a href="javascript:;">
                            <span>帮助</span>
                        </a>
                    </h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/support/tos">
                                <i class="fa-angle-right"></i>
                                支持中心
                            </a>
                        </li>
                        <li>
                            <a href="/ticket">
                                <i class="fa-angle-right"></i>
                                提交问题
                            </a>
                        </li>
                        <li>
                            <a href="/support/tos">
                                <i class="fa-angle-right"></i>
                                使用协议
                            </a>
                        </li>
                        <li>
                            <a href="/support/tos">
                                <i class="fa-angle-right"></i>
                                服务条款
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
	
<nav class="navbar horizontal-menu navbar-fixed-top">
    <div class="navbar-inner">
        <!-- Navbar Brand -->
        <div class="navbar-brand">
            <a href="dashboard-1.html" class="logo">
                <img src="{RESOURCE}/images/logo-white-bg@2x.png" width="80" alt="" class="hidden-xs" />
                <img src="{RESOURCE}/images/logo@2x.png" width="80" alt="" class="visible-xs" />
            </a>
            <a href="#" data-toggle="settings-pane" data-animate="true">
                <i class="linecons-cog"></i>
            </a>
        </div>
        <div class="nav navbar-mobile">
            <div class="mobile-menu-toggle">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-cog"></i>
                </a>

                <a href="#" data-toggle="user-info-menu-horizontal">
                    <i class="fa-bell-o"></i>
                    <span class="badge badge-success">7</span>
                </a>

                <a href="#" data-toggle="mobile-menu-horizontal">
                    <i class="fa-bars"></i>
                </a>
            </div>

        </div>

        <div class="navbar-mobile-clear"></div>



        <!-- main menu -->

        <ul class="navbar-nav">
            <li class="{(\Helper\Utils::menuActive('member', 'opened'))}">
                <a href="/member" >
                    <i class="fa fa-desktop"></i>
                    <span class="title">仪表盘</span>
                </a>
            </li>
            <li class="{(\Helper\Utils::menuActive('node'))}">
                <a href="/member/node" >
                    <i class="fa fa-server"></i>
                    <span class="title">节点列表</span>
                </a>
            </li>
            <li class="{(\Helper\Utils::menuActive('info'))}">
                <a href="/member/info" >
                    <i class="fa fa-user"></i>
                    <span class="title">个人资料</span>
                </a>
            </li>
            <li class="{(\Helper\Utils::menuActive('Change|actCard', ' opened expanded'))} has-sub">
                <a href="javascript:;">
                    <i class="fa fa-pencil"></i>
                    <span class="title">资料修改</span>
                </a>
                <ul>
                    <li class="{(\Helper\Utils::menuActive('ChangePassword'))}">
                        <a href="/member/changePassword" >
                            <span class="title">密码修改</span>
                        </a>
                    </li>
                    <li class="{(\Helper\Utils::menuActive('ChangeNickname'))}">
                        <a href="/member/changeNickname" >
                            <span class="title">昵称修改</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://cn.gravatar.com/" target="_blank" title="Gravatar 全球通用头像">
                            <span class="title">修改头像</span>
                        </a>
                    </li>
                    <li class="{(\Helper\Utils::menuActive('ChangePlan'))}">
                        <a href="/member/changePlan" >
                            <span class="title">续费升级</span>
                        </a>
                    </li>
                    <li class="{(\Helper\Utils::menuActive('actCard'))}">
                        <a href="/member/actCard" >
                            <span class="title">卡号充值</span>
                        </a>
                    </li>
                    <li class="{(\Helper\Utils::menuActive('ChangeMethod'))}">
                        <a href="/member/changeMethod" >
                            <span class="title">自定义节点加密</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{(\Helper\Utils::menuActive('invite'))}">
                <a href="/member/invite" >
                    <i class="fa fa-heart"></i>
                    <span class="title">邀请好友</span>
                </a>
            </li>
            <li class="{(\Helper\Utils::menuActive('order|support', ' opened expanded'))} has-sub">
                <a href="javascript:;">
                    <i class="fa fa-paper-plane"></i>
                    <span class="title">服务支持</span>
                </a>
                <ul>
                    <li>
                        <a href="/order" title="购买卡号，套餐，各项升级服务，或充值账户余额">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="title">购买服务</span>
                        </a>
                    </li>
                    <li>
                        <a href="/support/ticket" title="Ticket · Services">
                            <i class="fa fa-ticket"></i>
                            <span class="title">工单服务</span>
                        </a>
                    </li>
                    <li><a href="/support/tos">
                        <i class="fa fa-paper-plane-o"></i>
                        <span class="title">关于{SITE_NAME}</span>
                    </a>
                    </li>
                </ul>
            </li>
            <if condition="$user->isAdmin()">
                <li>
                    <a href="/admin">
                        <i class="fa fa-cogs"></i>
                        <span class="title">管理员后台</span>
                    </a>
                </li>
            </if>
        </ul>


        <!-- notifications and other links -->
        <ul class="nav nav-userinfo navbar-right">

            <li class="dropdown user-profile">
            <a href="#" data-toggle="dropdown">
                <img src="{(\Helper\Utils::gravatar($user->email))}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                <span>
                    {$user->nickname}
                    <i class="fa-angle-down"></i>
                </span>
            </a>

            <ul class="dropdown-menu user-profile-menu list-unstyled">
                <li>
                    <a href="/member/info">
                        <i class="fa-user"></i>
                        个人资料
                    </a>
                </li>
                <li>
                    <a href="/member/changePassword">
                        <i class="fa-wrench"></i>
                        设置
                    </a>
                </li>
                <li>
                    <a href="/support/help">
                        <i class="fa-info"></i>
                        帮助
                    </a>
                </li>
                <li class="last">
                    <a href="auth/logout">
                        <i class="fa-lock"></i>
                        登出
                    </a>
                </li>
            </ul>
        </li>

        </ul>

    </div>

</nav>

<div class="page-container" style="margin-top: 0px;">

    <div class="main-content" style="display: block;margin-top: 85px;">
        <div class="page-title">
            <div class="title-env">
                <h1 class="title">工单服务(Ticket)</h1>
                <p class="description">发起工单！</p>
            </div>
            <div class="breadcrumb-env">
                <ol class="breadcrumb bc-1"><li><a href="/member"><i class="fa-home"></i>主页</a></li><li><a href="javascript:;">工单服务</a></li><li class="active"><strong>您的工单列表</strong></li></ol>
            </div>
        </div>

        <section class="mailbox-env">

            <div class="row">

                <!-- Inbox emails -->
                <div class="col-sm-10 mailbox-right">

                    <div class="mail-env">

                        <script type="text/javascript">
                            jQuery(document).ready(function($)
                            {
                                var $state = $(".mail-table thead input[type='checkbox'], .mail-table tfoot input[type='checkbox']"),
                                        $chcks = $(".mail-table tbody input[type='checkbox']");

                                // Script to select all checkboxes
                                $state.on('change', function(ev)
                                {
                                    if($state.is(':checked'))
                                    {
                                        $chcks.prop('checked', true).trigger('change');
                                    }
                                    else
                                    {
                                        $chcks.prop('checked', false).trigger('change');
                                    }
                                });

                                // Row Highlighting
                                $chcks.each(function(i, el)
                                {
                                    var $tr = $(el).closest('tr');

                                    $(this).on('change', function(ev)
                                    {
                                        $tr[$(this).is(':checked') ? 'addClass' : 'removeClass']('highlighted');
                                    });
                                });

                                // Stars
                                $(".mail-table .star").on('click', function(ev)
                                {
                                    ev.preventDefault();

                                    if( ! $(this).hasClass('starred'))
                                    {
                                        $(this).addClass('starred').find('i').attr('class', 'fa-star');
                                    }
                                    else
                                    {
                                        $(this).removeClass('starred').find('i').attr('class', 'fa-star-empty');
                                    }
                                });
                            });
                        </script>

                        <!-- mail table -->
                        <table class="table mail-table">

                            <!-- mail table header -->
                            <thead>
                            <tr>
                                <th class="col-cb">
                                    <input type="checkbox" class="cbr" />
                                </th>
                                <th colspan="4" class="col-header-options">

                                    <div class="mail-select-options">选取所有</div>

                                    <div class="mail-pagination">
                                        显示 <strong>1 - 14</strong> 共 <strong>789</strong> 条Ticket

                                        <div class="next-prev">
                                            <a href="#"><i class="fa-angle-left"></i></a>
                                            <a href="#"><i class="fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>

                            <!-- mail table footer -->
                            <tfoot>
                            <tr>
                                <th class="col-cb">
                                    <input type="checkbox" class="cbr" />
                                </th>
                                <th colspan="4" class="col-header-options">

                                    <div class="mail-select-options">选取所有</div>

                                    <div class="mail-pagination">
                                        显示 <strong>1 - 14</strong> 共 <strong>789</strong> 条Ticket

                                        <div class="next-prev">
                                            <a href="#"><i class="fa-angle-left"></i></a>
                                            <a href="#"><i class="fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>

                            <!-- email list -->
                            <tbody>

                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>

                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单2</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>

                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单3</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>

                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单4</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单5</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单6</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单7</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单8</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单9</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单10</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单11</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单12</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单13</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            <tr class="unread">
                                <td class="col-cb">
                                    <div class="checkbox checkbox-replace">
                                        <input type="checkbox" class="cbr" />
                                    </div>
                                </td>
                                <td class="col-name">
                                    <a href="javascript:;" class="star">
                                        <i class="fa-star-empty"></i>
                                    </a>
                                    <a href="/ticket/detail?tid=1" class="col-name">这是一条测试工单14</a>
                                </td>
                                <td class="col-subject">
                                    <a href="/ticket/detail?tid=1">
                                        请问充值如何付款，支持使用什么支付方式？
                                    </a>
                                </td>
                                <td class="col-options hidden-sm hidden-xs"></td>
                                <td class="col-time">08:40</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

                <!-- Mailbox Sidebar -->
                <div class="col-sm-2 mailbox-left">

                    <div class="mailbox-sidebar">

                        <a href="/ticket/new" class="btn btn-block btn-secondary btn-icon btn-icon-standalone btn-icon-standalone-right">
                            <i class="fa fa-envelope"></i>
                            <span>发起工单</span>
                        </a>


                        <ul class="list-unstyled mailbox-list">
                            <li class="active">
                                <a href="/ticket/list">
                                    工单列表
                                    <span class="badge badge-success pull-right">5</span>
                                </a>
                            </li>
                            <li>
                                <a href="/ticket/list?status=0">
                                    等待处理
                                </a>
                            </li>
                            <li>
                                <a href="/ticket/list?status=1">
                                    已完成
                                </a>
                            </li>
                            <li>
                                <a href="/ticket/list?status=99">
                                    垃圾桶
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </section>
    </div>
</div>
<import template="/panel/_footer" />