<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <base href="{BASE_URL}"/>
    <title>{SITE_NAME}</title>
    <link href="{RESOURCE}/css/bootstrap.css" rel="stylesheet">
    <link href="Resource/Home/style.css" rel="stylesheet">
    <script src="{RESOURCE}/js/jquery-1.11.1.min.js"></script>
    <script src="{RESOURCE}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="Resource/Home/jmpress.min.js"></script>
    <script type="text/javascript" src="Resource/Home/jquery.jmslideshow.js"></script>
    <script type="text/javascript" src="Resource/Home/jquery.bxslider.min.js"></script>
    <script src="Resource/Home/modernizr.custom.js"></script>
    <script src="Resource/Home/jquery.dlmenu.js"></script>

</head>

<body>


<div class="container">
    <div class="header pull-left">

        <a href="/" class="logo"><img src="Resource/Home/img/logo.png" alt="logo"/></a>

        <nav class="navbar navbar-default pull-right" role="navigation">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="http://h.mloli.com/shadowsocks/" target="_blank">下载</a></li>
                    <li><a href="/support/tos">关于</a></li>
                    <li class="dropdown">
                        <a href="/auth/login" class="dropdown-toggle" data-toggle="dropdown">登陆 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/auth/login#login">登陆</a></li>
                            <li><a href="/auth/login#register">注册</a></li>
                            <li><a href="/auth/forgePwd">忘记密码?</a></li>
                        </ul>
                    </li>
                    <li><a href="/invite">获取邀请码</a></li>
                </ul>

            </div>
        </nav>

        <div id="dl-menu" class="dl-menuwrapper pull-right">
            <button class="dl-trigger" style="background: rgba(0,0,0,0);">Open Menu</button>
            <ul class="dl-menu">
                <li><a href="/">首页</a></li>
                <li><a href="http://h.mloli.com/shadowsocks/" target="_blank">下载</a></li>
                <li><a href="/support/tos">关于</a></li>
                <li class="dropdown"><a href="/auth/login" class="dropdown-toggle" data-toggle="dropdown">登陆</a></li>
                <li><a href="/auth/login#register">注册</a></li>
                <li><a href="/auth/forgePwd">忘记密码?</a></li>
                <li><a href="/invite">获取邀请码</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="slider-container pull-left">


    <section id="jms-slideshow" class="jms-slideshow">
        <div class="step" data-color="color-1" data-x="2000" data-y="1000" data-z="3000" data-rotate="-20">
            <div class="jms-content">
                <h3> Super Fast Asynchronous I/O and Event-driven programming.</h3>
                <a class="jms-link mbl" href="javascript:;"><img src="Resource/Home/img/iphone.png" alt="mbl"/></a>
            </div>
        </div>
        <div class="step" data-color="color-2" data-x="1000" data-z="2000" data-rotate="20">
            <div class="jms-content">
                <h3>Flexible Encryption</h3>
                <a class="jms-link tab" href="javascript:;"><img src="Resource/Home/img/ipad.png" alt="tab"/></a>
            </div>
        </div>
        <div class="step" data-color="color-3" data-x="2000" data-y="1500" data-z="1000" data-rotate="20">
            <div class="jms-content">
                <h3>Optimized for mobile device and wireless network</h3>
                <a class="jms-link pc" href="javascript:;"><img src="Resource/Home/img/pc.png" alt="pc"/></a>
            </div>
        </div>
        <div class="step" data-color="color-4" data-x="3000" data-y="2000">
            <div class="jms-content">
                <h3>Available on most platforms, Windows, Linux, Mac, Android, iOS, and OpenWRT.</h3>
                <a class="jms-link laptop" href="javascript:;"><img src="Resource/Home/img/leptop.png" alt="leptop"/></a>
            </div>
        </div>
    </section>

</div>

<div class="container">

    <div class="services">
        <div class="services-header">
            <h2>Services</h2>
            <p>除去广为人知、人见人爱的VPN，其实还有十八般兵器存在于科学上网界，其中ShadowSocks可以说是其中一把功能齐全的瑞士军刀。</p>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="services-box services-box-1">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="Resource/Home/img/s-desktop.png" alt="s-desktop"/>
                        </div>
                        <div class="col-lg-9">
                            <div class="services-dtls">
                                <h2>企业级的加密</h2>
                                <p>优秀的加密方式企业级加密。让你的信息更安全！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="services-box services-box-2 pull-right">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="Resource/Home/img/colors.png" alt="s-desktop"/>
                        </div>
                        <div class="col-lg-9">
                            <div class="services-dtls">
                                <h2>顶级服务</h2>
                                <p>我们提供出色的服务来帮助您，您能通过众多不同方式来获得帮助，从而使您的购买体验简单便捷、舒畅无阻。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="services-box services-box-1">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="Resource/Home/img/experience.png" alt="s-desktop"/>
                        </div>
                        <div class="col-lg-9">
                            <div class="services-dtls">
                                <h2>高速线路</h2>
                                <p>精心挑选优秀高速服务器，智能线路分配，为您提供最好的速度！</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="services-box services-box-2 pull-right">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="Resource/Home/img/s-easy.png" alt="s-desktop"/>
                        </div>
                        <div class="col-lg-9">
                            <div class="services-dtls">
                                <h2>不限制设备</h2>
                                <p>不限制同时在线设备！！同一个账号多个设备使用</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- End services -->


</div><!-- End container -->

<div class="container">

    <div class="process">

        <h2>提供套餐</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="process-box">
                    <div class="process-img p-img-4"></div>

                    <h1>PLAN A</h1>

                    <p>免费套餐<br/>
                        每月 5GB, 月首初始化使用量<br/>
                        可使用 3 个节点
                    </p>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="process-box">
                    <div class="process-img p-img-4"></div>

                    <h1>PLAN B</h1>

                    <p>普通会员<br/>
                        每月 30GB, 月首初始化使用量<br/>
                        可使用 5 个节点
                    </p>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="process-box">
                    <div class="process-img p-img-4"></div>

                    <h1>PLAN C</h1>

                    <p>高级会员<br/>
                        每月 100GB, 月首初始化使用量<br/>
                        可用 8 个节点
                    </p>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="process-box">
                    <div class="process-img p-img-4"></div>

                    <h1>PLAN VIP</h1>

                    <p>特级会员<br/>
                        每月 500GB, 月首初始化使用量<br/>
                        可用 8 个节点 + 2 VIP节点
                    </p>

                </div>
            </div>

        </div>

    </div>

</div><!-- End process -->


<div class="footer">

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="address">
                    <h3>Get in touch</h3>

                    <ul>
                        <li><a href="#">E: support@suki.im</a></li>
                        <li><a href="#">P: (234) 206-7664</a></li>
                        <li><a href="#">W: www.suki.im</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="address">
                    <h3>Free Support</h3>

                    <ul>
                        <li>Email to</li>
                        <li><a href="#">support@suki.im</a></li>
                    </ul>

                </div>
            </div>
        </div>

    </div>

</div><!-- End footer -->


<script type="text/javascript">
    $(function () {

        var jmpressOpts = {
            animation: {transitionDuration: '0.8s'}
        };


        $('#jms-slideshow').jmslideshow($.extend(true, {jmpressOpts: jmpressOpts}, {
            autoplay: true,
            bgColorSpeed: '0.8s',
            arrows: false
        }));


        $('.dropdown').hover(function () {
                    $(this).find('.dropdown-menu').addClass('animated bounceIn');
                },
                function () {
                    $(this).find('.dropdown-menu').removeClass('animated bounceIn');
                });

        $(window).load(function () {
            $('.services').hover(function () {
                $('.services-box-2').addClass('animated fadeInRight');
            });

            $('.services').hover(function () {
                $(this).find('.services-box-1').addClass('animated fadeInLeft');
            });

            $('.process').hover(function () {
                $(this).find('.process-box').addClass('animated bounceIn');
            });

            $('.subscribe').hover(function () {
                $(this).find('.input-lg').addClass('animated rotateInDownLeft');
                $(this).find('.btn-effect').addClass('animated rotateIn');
            });
            setTimeout(circularMenuConroll, 7000);
        });

        $('.bxslider').bxSlider({
            minSlides: 6,
            maxSlides: 2,
            slideWidth: 800,
            slideMargin: 10
        });


        $('#dl-menu').dlmenu();
    });
</script>

</body>
</html>
