<!DOCTYPE html>
<!--
    No loli no life.
    Author: Sendya <18x@loacg.com>
-->
<html lang="zh-cmn-Hans">
<head>

    <meta charset="utf-8">
    <title>{SITE_NAME} - リバティ</title>

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="Resource/Home/style.css">
</head>
<body>
<div class="main">
    <h1>リバティ</h1>
    <p><span>This is the {SITE_NAME} of the server's home page</span></p>
    <p class="flow"><a href="javascript:;" onClick="location.href='{BASE_URL}auth/login'">link Start!</a></p>
</div>
<div class="console"><a href="javascript:;" id="aconsole">OFF BGM</a></div>
<div id="flowMessage">Tips:键盘方向可以调整声音</div>
<audio src="Resource/Home/vampire_obsession.mp3" id="bgmusic" autoplay="true" style="display:none;"></audio>
<div class="footer">Powered by <a href="https://loacg.com/" target="_blank">Sendya</a></div>
<script src="Resource/Home/jquery.min.js"></script>
<script src="Resource/Home/mainv.js"></script>
<script>var BASEDIR = '{BASE_URL}Resource/Home/img/'</script>
<script src="Resource/Home/home.js"></script>
</body>
</html>