<script type="text/javascript">
    function pageJSload() {
        xenon_toggles_init();
        xenon_init();
    }
</script>
</div>
<script src="{RESOURCE}/js/bootstrap.min.js"></script>
<script src="{RESOURCE}/js/TweenMax.min.js"></script>
<script src="{RESOURCE}/js/resizeable.js"></script>
<script src="{RESOURCE}/js/joinable.js"></script>
<script src="{RESOURCE}/js/xenon-api.js"></script>
<script src="{RESOURCE}/js/xenon-toggles.js"></script>
<script src="{RESOURCE}/js/jquery-validate/jquery.validate.min.js"></script>
<script src="{RESOURCE}/js/jquery.md5.js"></script>
<script src="{RESOURCE}/js/toastr/toastr.min.js"></script>
<script src="{RESOURCE}/js/xenon-widgets.js"></script>
<script src="{RESOURCE}/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="{RESOURCE}/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="{RESOURCE}/js/xenon-custom.js"></script>
<!-- 后台禁止pjax
<script src="{RESOURCE}/js/pjax.js"></script>
-->
<script type="text/javascript">
    function reset(isShow) {
        if(isShow) {
            jQuery('#modal-isload').hide();
            jQuery('#modal-isbody').show();
        } else {
            jQuery('#modal-isload').show();
            jQuery('#modal-isbody').hide();
        }
    }
</script>
</body>
</html>