<script type="text/javascript">
    function pageJSload() {
        xenon_toggles_init();
        xenon_init();
    }
</script>
</div>
<script src="Resource/{THEME}/js/bootstrap.min.js"></script>
<script src="Resource/{THEME}/js/TweenMax.min.js"></script>
<script src="Resource/{THEME}/js/resizeable.js"></script>
<script src="Resource/{THEME}/js/joinable.js"></script>
<script src="Resource/{THEME}/js/xenon-api.js"></script>
<script src="Resource/{THEME}/js/xenon-toggles.js"></script>
<script src="Resource/{THEME}/js/jquery-validate/jquery.validate.min.js"></script>
<script src="Resource/{THEME}/js/jquery.md5.js"></script>
<script src="Resource/{THEME}/js/toastr/toastr.min.js"></script>
<script src="Resource/{THEME}/js/xenon-widgets.js"></script>
<script src="Resource/{THEME}/js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="Resource/{THEME}/js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="Resource/{THEME}/js/xenon-custom.js"></script>
<!-- 后台禁止pjax
<script src="{TPL_PATH}js/pjax.js"></script>
-->
<script type="text/javascript">
    pageJSload();
    function reset(isShow) {
        if(isShow) {
            jQuery('#modal-isload').hide();
            jQuery('#modal-isbody').show();
        } else {
            jQuery('#modal-isload').show();
            jQuery('#modal-isbody').hide();
        }

    }
    function postJSON(formId, action, isReload, callback) {
        $.ajax({
            url: action,
            method: "POST",
            dataType: "json",
            data: $("#"+formId).serialize(),
            success: function(data){
                showToastr(data.message, 0);
                if(isReload)
                    window.location.reload();

                jQuery('#modal-6').modal('hide');
            },
            error: function(Xhr){
                showToastr("出现未知错误，请重试或联系管理员", 0);
            }
        });
        return false;
    }
</script>
</body>
</html>