<if condition="$controllerName != 'Login' && $controllerName != 'Lockscreen' && $controllerName != 'Invite' && $controllerName != 'Tos' ">
<footer class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            <strong>Copyright © 2014-2015 <a href="#">Suki.im</a> </strong>
            All rights reserved.  Powered by  <b>ss-panel</b>2.5.7 Themes by <a href="https://loacg.com/">Sendya</a> | <a href="https://shenghuo.alipay.com/send/payment/fill.htm?optEmail=18x@loacg.com" target="_blank">向我捐赠</a> | <a href="/my/tos">服务条款</a>
        </div>
        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">
            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>
        </div>

    </div>
</footer>
</if>
</div>
<script type="text/javascript">
    function pageJSload() {
        xenon_toggles_init();
        xenon_init();
    }
</script>
</div>
<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增节点</h4>
            </div>
            <form role="form" id="form1" method="post" class="validate">
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-1" class="control-label">节点名称</label>

                            <input type="text" class="form-control" id="field-1" placeholder="" data-validate="required" data-message-required="节点名称必须填写.">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-2" class="control-label">节点地址</label>

                            <input type="text" class="form-control" id="field-2" placeholder="127.0.0.1" data-validate="required" data-message-required="服务器地址必须填写.">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-3" class="control-label">加密方式</label>

                            <input type="text" class="form-control" id="field-3" placeholder="aes-128-cfb" data-validate="required" data-message-required="加密方式必须填写.">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-4" class="control-label">节点分类(0 普通 1 vip)</label>

                            <input type="text" class="form-control" id="field-4" value="0" placeholder="0">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-5" class="control-label">节点状态</label>

                            <input type="text" class="form-control" id="field-5" placeholder="可用 / 不可用">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-6" class="control-label">排序</label>

                            <input type="text" class="form-control" id="field-6" value="0" placeholder="0">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group no-margin">
                            <label for="field-7" class="control-label">备注信息</label>

                            <textarea class="form-control autogrow" id="field-7" placeholder="Write something about server info"></textarea>
                        </div>

                    </div>
                </div>

            </div>
                </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info">保存新增</button>
            </div>
        </div>
    </div>
</div>
<script src="{TPL_PATH}js/bootstrap.min.js"></script>
<script src="{TPL_PATH}js/TweenMax.min.js"></script>
<script src="{TPL_PATH}js/resizeable.js"></script>
<script src="{TPL_PATH}js/joinable.js"></script>
<script src="{TPL_PATH}js/xenon-api.js"></script>
<script src="{TPL_PATH}js/xenon-toggles.js"></script>
<script src="{TPL_PATH}js/jquery-validate/jquery.validate.min.js"></script>
<script src="{TPL_PATH}js/toastr/toastr.min.js"></script>
<script src="{TPL_PATH}js/xenon-widgets.js"></script>
<script src="{TPL_PATH}js/devexpress-web-14.1/js/globalize.min.js"></script>
<script src="{TPL_PATH}js/devexpress-web-14.1/js/dx.chartjs.js"></script>
<!-- JavaScripts initializations and stuff -->
<script src="{TPL_PATH}js/xenon-custom.js"></script>
<script src="{TPL_PATH}js/pjax.js"></script>
</body>
</html>