<import template="/admin/_head" />
<php>
    $allNode = \Model\Node::GetNodeCount();
    $openNode = \Model\Node::GetNodeCount("可用");
    $userPower = \Model\UserPower::verifyPower($user->uid);
</php>
<body class="page-body">
<div class="modal fade" id="modal-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>
<div class="settings-pane">
    <a href="javascript:;" data-toggle="settings-pane" data-animate="true">&times;</a>
    <div class="settings-pane-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="user-info">
                    <div class="user-image">
                        <a href="/member">
                            <img src="{$user->getGravatar()}" class="img-responsive img-circle" />
                        </a>
                    </div>
                    <div class="user-details">
                        <h3>
                            <a href="/member">{$user->nickname}</a>
                            <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                            <span class="user-status is-online"></span>
                        </h3>
                        <p class="user-title">加入时间：{$user->getRegTime()}</p>
                        <div class="user-links">
                            <a href="/member/info" class="btn btn-primary">个人资料</a>
                            <a href="/auth/Logout" class="btn btn-success">退出</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 link-blocks-env">
                <div class="links-block left-sep">
                    <h4>
                        <a href="javascript:;">
                            <span>帮助</span>
                        </a>
                    </h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/Support/Tos">
                                <i class="fa-angle-right"></i>
                                支持中心
                            </a>
                        </li>
                        <li>
                            <a href="/member/feedback">
                                <i class="fa-angle-right"></i>
                                提交问题
                            </a>
                        </li>
                        <li>
                            <a href="/Support/Tos">
                                <i class="fa-angle-right"></i>
                                使用协议
                            </a>
                        </li>
                        <li>
                            <a href="/Support/Tos">
                                <i class="fa-angle-right"></i>
                                服务条款
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">
        <div class="sidebar-menu-inner">
            <header class="logo-env">
                <!-- logo -->
                <div class="logo">
                    <a href="index" class="logo-expanded">
                        <img src="{TPL_PATH}images/logo@2x.png" width="80" alt="" />
                    </a>
                    <a href="index" class="logo-collapsed">
                        <img src="{TPL_PATH}images/logo-collapsed@2x.png" width="40" alt="" />
                    </a>
                </div>
                <div class="mobile-menu-toggle visible-xs">
                    <a href="javascript:;" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">2</span>
                    </a>
                    <a href="javascript:;" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>
                <div class="settings-icon">
                    <a href="javascript:;" data-toggle="settings-pane" data-animate="true">
                        <i class="linecons-cog"></i>
                    </a>
                </div>
            </header>
            <ul id="main-menu" class="main-menu">
                <li class="{(\Helper\Util::CheckAction('admin', 'opened'))}">
                <a href="/Admin" class="pjax">
                    <i class="linecons-cog"></i>
                    <span class="title">仪表盘</span>
                </a>
                </li>
                <li class="{(\Helper\Util::CheckAction('node'))}">
                <a href="/admin/node" class="pjax">
                    <i class="linecons-params "></i>
                    <span class="title">节点管理</span>
                    <span class="label label-success pull-right">{$openNode}/{$allNode}</span>
                </a>
                </li>
                <li class="{(\Helper\Util::CheckAction('user'))}">
                <a href="/admin/user" class="pjax">
                    <i class="linecons-user "></i>
                    <span class="title">用户管理</span>
                </a>
                </li>
                <li class="{(\Helper\Util::CheckAction('invite', ' opened expanded'))} has-sub">
                <a href="javascript:;">
                    <i class="linecons-heart"></i>
                    <span class="title">邀请码管理</span>
                </a>
                <ul>
                    <li class="{(\Helper\Util::CheckAction('inviteList'))}">
                    <a href="/admin/invite/inviteList" class="pjax">
                        <span class="title">邀请码列表</span>
                    </a>
                    </li>
                    <li class="{(\Helper\Util::CheckAction('inviteOldList'))}">
                    <a href="/admin/invite/inviteOldList" class="pjax">
                        <span class="title">历史邀请码</span>
                    </a>
                    </li>
                </ul>
                </li>
                <li>
                    <a href="/Member">
                        <i class="fa-mail-reply"></i>
                        <span class="title">返回前台</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
