<import template="/admin/_header" />
<import template="/admin/_content" />

<div class="page-title">
    <div class="title-env">
        <h1 class="title" onclick="inviteAdd();">邀请码管理
	<a class="btn btn-success btn-sm" href="javascript:;" onclick="">添加</a></h1>
        <p class="description">邀请码列表！</p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1"><li><a href="/admin"><i class="fa-home"></i>管理端</a></li><li><a href="/admin/invite">邀请码</a></li></ol>
    </div>
</div>
<section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>UID</th>
                                    <th>添加时间</th>
                                    <th>邀请码</th>
                                    <th>等级</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                <if condition="count($inviteList) > 0">
                                <loop variable="$inviteList" key="$key" value="$invite">
                                <tr id="invite-{$invite->invite}">
                                    <td>#{$invite->uid}</td>
                                    <td>{(date("Y-m-d H:i:s", $invite->dateLine))}</td>
                                    <td> {$invite->invite}</td>
                                    <td>{$invite->plan}</td>
                                    <td><if condition="$invite->status == 1">已用<else>未用</if></td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="javascript:;" onclick="inviteModify('{$invite->invite}');">编辑</a>
                                        <a class="btn btn-danger btn-sm" href="javascript:;" onclick="inviteRemove('{$invite->invite}');">删除</a>
                                    </td>
                                </tr>
                                </loop>
                                <else>
                                <tr>
                                    <td>#</td>
                                    <td colspan="5">没有邀请码</td>
                                </tr>
                                </if>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section>
</div>
</div>
<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增邀请码</h4>
            </div>
            <form role="form" id="form1" method="post" action="/admin/invite/add.json" class="validate" onsubmit="return postJSON(this.id, this.action);">
            <input type="hidden" name="form_add" value="{(time())}"/>
            <input type="hidden" name="invite" id="invite" value=""/>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-1" class="control-label">邀请码（只允许系统生成）</label>

                            <input type="text" class="form-control" name="invite_2" id="field-1" value="" readonly placeholder="只允许系统生成">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-2" class="control-label">邀请码类型</label>

                            <select name="plan" id="plan" id="field-2" class="form-control">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="VIP">VIP</option>
                                <option value="SVIP">SVIP</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-3" class="control-label">有效时间(天)</label>

                            <input type="number" class="form-control" name="expiration" id="field-3" value="10" placeholder="10" data-message-required="有效时间为整数.">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-4" class="control-label">添加时间</label>

                            <div class="date-and-time">
                                <input type="text" id="field-4" class="form-control datepicker" placeholder="{(date('Y-m-d', time()))}" name="add_time1" data-format="yyyy-mm-dd">
                                <input type="text" class="form-control timepicker" name="add_time2" data-template="dropdown" data-show-seconds="true" data-default-time="11:25" data-show-meridian="false" data-minute-step="5" data-second-step="5" />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-5" class="control-label">添加邀请码个数</label>

                            <input type="number" class="form-control" name="number" id="field-5" value="1" placeholder="1" data-message-required="邀请码个数.">
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-success">立即保存</button>
            </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    function inviteRemove(invite){
        $.ajax({
            url: "/admin/invite/delete.json",
            method: "POST",
            dataType: "json",
            data: {invite: invite},
            success: function(data){
                if(data.error == 0){
                    showToastr(data.message, 0);
                    $("#invite-" + invite).remove();
                } else {
                    showToastr(data.message, 0);
                }
            },
            error: function(Xhr){
                showToastr("出现未知错误，请重试或联系管理员", 0);
            }
        });
    }
    function inviteModify(invite){
        $.ajax({
            url: "/admin/invite/query.json",
            method: "POST",
            dataType: "json",
            data: {invite: invite},
            success: function(result){
                if(result.error == 0){
                    if(result.data != false && result.data != null) {
                        var invite = result.data;
                        $("input[name='invite']").val(invite.invite);
                        $("input[name='invite_2']").val(invite.invite);
                        $("#plan").val(invite.plan);
                        $("input[name='expiration']").val(invite.expiration);
                        $("input[name='add_time1']").val(invite.dateLine);
                        $("input[name='number']").hide().val('');
                        $("#form1").attr("action", "/admin/invite/update.json");
                        jQuery('#modal-6 .modal-title').html('修改邀请码');
                        jQuery('#modal-6').modal('show', {backdrop: 'static'});
                    }
                } else {
                    showToastr(result.message, 0);
                }
            },
            error: function(Xhr){
                showToastr("出现未知错误，请重试或联系管理员", 0);
            }
        });
        jQuery('#modal-6').modal('show', {backdrop: 'static'});
    }
    function inviteAdd(){
        $("input[name='number']").show().val('');
        $("input[name='invite']").val('');
        $("input[name='invite_2']").val('');
        $("#plan").val('A');
        $("input[name='expiration']").val('');
        $("input[name='add_time1']").val('');
        $("#form1").attr("action", "/admin/invite/add.json");
        jQuery('#modal-6 .modal-title').html('新增邀请码');
        jQuery('#modal-6').modal('show', {backdrop: 'static'});
    }
</script>
<link rel="stylesheet" href="{TPL_PATH}js/daterangepicker/daterangepicker-bs3.css">
<script src="{TPL_PATH}js/daterangepicker/daterangepicker.js"></script>
<script src="{TPL_PATH}js/datepicker/bootstrap-datepicker.js"></script>
<script src="{TPL_PATH}js/timepicker/bootstrap-timepicker.min.js"></script>

<import template="/admin/_footer" />
