<import template="/admin/_header" />
<import template="/admin/_content" />

<div class="page-title">
    <div class="title-env">
        <h1 class="title" onclick="messageAdd();">消息管理
	<a class="btn btn-success btn-sm" href="javascript:;" onclick="">添加</a></h1>
        <p class="description">请注意消息的分类！</p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1"><li><a href="/admin"><i class="fa-home"></i>管理端</a></li><li><a href="/admin/message">消息管理</a></li></ol>
    </div>
</div>
<section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>内容</th>
                                    <th>结束推送时间</th>
                                    <th>推送至</th>
                                    <th>类型</th>
                                    <th>操作</th>
                                </tr>
                                <if condition="count($lists) > 0">
                                <loop variable="$lists" key="$key" value="$msg">
                                <tr id="msg-{$msg->id}">
                                    <td>#{$msg->id}</td>
                                    <td> {(mb_substr(htmlspecialchars($msg->content),0,20,'utf-8'))}</td>
                                    <td> {(date("Y-m-d H:i:s", $msg->pushEndTime))}</td>
                                    <td><if condition="$msg->pushUsers == -1">系统消息<elseif condition="$msg->pushUsers == -2">系统固定消息<else>推送值特定用户</if></td>
                                    <td><if condition="$msg->type == -1">重复推送<elseif condition="$msg->type == -2">系统公告<elseif condition="$msg->type == -3">套餐处说明<elseif condition="$msg->type == -4">首页浮动提示<else>普通消息</if></td>
                                    <td>
                                        <a class="btn btn-info btn-sm" href="javascript:;" onclick="messageModify({$msg->id});">编辑</a>
                                        <if condition="$msg->pushUsers != -2">
                                        <a class="btn btn-danger btn-sm" href="javascript:;" onclick="messageRemove({$msg->id});">删除</a>
                                        </if>
                                    </td>
                                </tr>
                                </loop>
                                <else>
                                <tr>
                                    <td>#</td>
                                    <td colspan="5">没有消息</td>
                                </tr>
                                </if>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </section>
</div>
</div>
<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增消息</h4>
            </div>
            <form role="form" id="form1" method="post" action="/admin/message/add.json" class="validate" onsubmit="return postJSON(this.id, this.action);">
            <input type="hidden" name="form_add" value="{(time())}"/>
            <input type="hidden" name="message.id" id="message_id" value=""/>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="field-0" class="control-label">消息内容</label>
                            <textarea class="form-control autogrow" name="message.content" id="field-0" placeholder="请填写消息内容，支持 HTML 标记" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-1" class="control-label">推送时间</label>
                            <input type="text" class="form-control" name="message.pushTime" id="field-1" value="{(date('Y-m-d H:i:s'))}" placeholder="">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-2" class="control-label" title="消息类型：-3 套餐处说明 -2 系统公告 -1 重复推送，0 正常消息，大于0 推送次数">消息类型</label>
                            <input type="text" class="form-control" name="message.type" id="field-2" placeholder="-1 重复推送，0 正常消息，大于0 推送次数" >
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-3" class="control-label">推送对象</label>
                            <input type="text" class="form-control" name="message.pushUsers" id="field-3" placeholder="-1">
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="field-4" class="control-label">推送结束时间</label>

                            <input type="text" class="form-control" name="message.pushEndTime" id="field-4" value="{(date('Y-m-d H:i:s'))}" placeholder="" data-validate="required" data-message-required="推送结束时间必须填写">
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-success">立即保存</button>
            </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    function messageRemove(messageId){
        $.ajax({
            url: "/admin/message/delete.json",
            method: "POST",
            dataType: "json",
            data: {message_id: messageId},
            success: function(data){
                if(data.error == 0){
                    showToastr(data.message, 0);
                    $("#message-" + nodeId).remove();
                } else {
                    showToastr(data.message, 0);
                }
            },
            error: function(Xhr){
                showToastr("出现未知错误，请重试或联系管理员", 0);
            }
        });
    }
    function messageModify(messageId){
        $.ajax({
            url: "/admin/message/query.json",
            method: "GET",
            dataType: "json",
            data: {message_id: messageId},
            success: function(result){
                if(result.error == 0){
                    if(result.data != false && result.data != null) {
                        var message = result.data;
                        $("input[name='message.id']").val(message.id);
                        $("input[name='message.pushTime']").val(message.pushTime);
                        $("input[name='message.type']").val(message.type);
                        $("input[name='message.pushUsers']").val(message.pushUsers);
                        $("input[name='message.pushEndTime']").val(message.pushEndTime);
                        $("textarea[name='message.content']").val(message.content);
                        $("#form1").attr("action", "/admin/message/change.json");
                        jQuery('#modal-6 .modal-title').html('修改消息');
                        jQuery('#modal-6').modal('show', {backdrop: 'static'});
                    }
                } else {
                    showToastr(result.message, 0);
                }
            },
            error: function(Xhr){
                showToastr("出现未知错误，请重试或联系管理员", 0);
            }
        });
        jQuery('#modal-6').modal('show', {backdrop: 'static'});
    }
    function messageAdd(){
        $("#form1").attr("action", "/admin/message/change.json");
        $("input[name='message.id']").val('');
        jQuery('#modal-6 .modal-title').html('新增消息');
        jQuery('#modal-6').modal('show', {backdrop: 'static'});
    }
</script>
<import template="/admin/_footer" />
