<footer class="main-footer sticky footer-type-1" style="margin-top: 53px;">
    <div class="footer-inner">
        <!-- 在这里修改你的版权信息 -->
        <div class="footer-text">
            Copyright &copy; 2014-<?php echo date('Y'); ?> <strong><a href="{BASE_URL}">{SITE_NAME}</a></strong>&nbsp;All
            rights reserved. Powered by <b>
            <a href="https://github.com/sendya/shadowsocks-panel" target="_blank">shadowsocks-panel</a></b>.&nbsp;|&nbsp;
            <a href="/support/tos">Terms of Service</a>&nbsp;|&nbsp;That took {(\Core\Router::execTime())} seconds.
        </div>
        <div class="go-up">
            <a href="#" rel="go-top"><i class="fa-angle-up"></i></a>
        </div>
    </div>
</footer>