<script type="text/javascript">function showToastr(messages,waitime,timeOut, title){if(timeOut==null||timeOut==0||timeOut=="")timeOut="5000";setTimeout(function(){var opts={"closeButton":true,"debug":false,"positionClass":"toast-top-right toast-default","toastClass":"black","onclick":null,"showDuration":"100","hideDuration":"1000","timeOut":timeOut,"extendedTimeOut":"1000","showEasing":"swing","hideEasing":"linear","showMethod":"fadeIn","hideMethod":"fadeOut"};toastr.info(messages, title==undefined?'系统提示':title,opts);},waitime);}</script>
<script src="{RESOURCE}/js/bootstrap.min.js"></script>
<script src="{RESOURCE}/js/resizeable.js"></script>
<script src="{RESOURCE}/js/TweenMax.min.js"></script>
<script src="{RESOURCE}/js/joinable.js"></script>
<script src="{RESOURCE}/js/jquery-validate/jquery.validate.min.js"></script>
<script src="{RESOURCE}/js/toastr/toastr.min.js"></script>
<script src="{RESOURCE}/js/xenon-api.js"></script>
<script src="{RESOURCE}/js/xenon-toggles.js"></script>
<script src="{RESOURCE}/js/xenon-custom.js"></script>
<script src="{RESOURCE}/js/xenon-widgets.js"></script>
</body>
</html>